@charset "utf-8";
/*Form*/
#index-form, #price-form, #feature-form {
	margin-top: 0.4375rem;
	background-color: #fff;
}
#price-form, #feature-form  {
	margin-top: 2.6875rem;
}
#apply-banner {
	margin-bottom: 0.4375rem;
	line-height: 0;
	border-top: 1px solid #d1d1d1;
	border-bottom: 1px solid #d1d1d1;
}
#apply-banner img {
	max-width: 100%;
    min-width: 100%;
}
#apply-form {
	margin: 0 0.4375rem;
}
#name-box, #phone-box {
    position: relative;
}
.apply-input {
    -webkit-appearance: none;
    display: block;
    margin-bottom: 0.625rem;
    width: 100%;
    height: 1.875rem;
    border: 1px solid #e4e4e4;
    font: normal 0.8125rem/1.875rem "STHeitiSC-Light", "Microsoft YaHei";
    text-indent: 0.5625rem;
    color: #333;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}
#city, #province {
    position: relative;
}
#select-01, #select-02 {
    position: relative;
    -webkit-appearance: none;
    display: block;
	width: 100%;																																				
    height: 1.875rem;
    border: 1px solid #e4e4e4;
    font: normal 0.8125rem/1.875rem "STHeitiSC-Light", "Microsoft YaHei";
    text-indent: 0.5625rem;
    color: #333;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    background: url(../img/selectarrow.png) no-repeat 98% center;
    background-size: 1.125rem 1.125rem;
}
#apply-total {
	text-align: center;
	line-height: 2.5rem;
	font-size: 0.8125rem;
}
.number {
	font-style: normal;
	color: #ff6600;
}
#applyBtn {
	-webkit-appearance: none;
    width: 100%;
    height: 2.25rem;
    font: normal 0.875rem/2.25rem "STHeitiSC-Light", "Microsoft YaHei";
    text-align: center;
    border-width: 0;
    background-color: #ff9519;
    color: #fff;
    cursor: pointer;
    -webkit-border-radius: 0.3125rem;
    -ms-border-radius: 0.3125rem;
    -moz-border-radius: 0.3125rem;
    -o-border-radius: 0.3125rem;
    border-radius: 0.3125rem;
}
#apply-tip {
	padding-bottom: 0.3125rem;
	text-align: center;
	font-size: 0.6875rem;
	line-height: 1.875rem;
	color: #999;
}
#bottom-telephone {
	clear: both;
    display: block;
    width: 100%;
    height: 2.1875rem;
    font: normal 0.8125rem/2.1875rem "STHeitiSC-Light", "Microsoft YaHei";
    letter-spacing: 2px;
    background-color: #fff;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    margin: 1.375rem 0 0.2rem 0;
    color: #148aea;
    border: 1px solid #abd1f7;
    border-left-width: 0;
    border-right-width: 0;
}
/*Error Tip*/
#errorCue{
	position: fixed;
	top: -2.5rem;
	left: 0;
	width: 100%;
	height: 2.6875rem;
	line-height: 2.5rem;
	text-align: center;
	background-color: #F06464;
	opacity: 0;
	-webkit-transition: all 0.3s ease-in 0s;
	-ms-transition: all 0.3s ease-in 0s;
	-moz-transition: all 0.3s ease-in 0s;
	-o-transition: all 0.3s ease-in 0s;
	transition: all 0.3s ease-in 0s;
	z-index: 1;
}
#errorCue.ios {
	position: absolute;
	-webkit-transition: all 0.05s ease-in 0s;
	-ms-transition: all 0.05s ease-in 0s;
	-moz-transition: all 0.05s ease-in 0s;
	-o-transition: all 0.05s ease-in 0s;
	transition: all 0.05s ease-in 0s;
}
#errorMsg{
	font: 0.75rem "Microsoft YaHei";
	color: #fff;
}
#errorCue.show {
	top: 0;
	opacity: 1;
	z-index: 998;
}
/*Alert*/
#alert-layer {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	max-width: 3000px;
	background-color: rgba(0,0,0,0.6);
}
#layer-content {
	position: absolute;
	left: 50%;
	top: 50%;
	min-height: 1.875rem;
	width: 72%;
	background-color: #fff;
	-webkit-border-radius: 0.4375rem;
	-moz-border-radius: 0.4375rem;
	-ms-border-radius: 0.4375rem;
	-o-border-radius: 0.4375rem;
	border-radius: 0.4375rem;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
#alert-con {
	padding: 1.375rem 0.875rem 1.125rem 0.875rem;
	font: normal 0.8125rem/1.125rem "STHeitiSC-Light","Microsoft YaHei";
	color: #333;
	text-align: center;
}
#layer-content .auto-close {
	text-align: center;
	color: #0068ea;
	font: normal 0.6875rem/2.125rem "STHeitiSC-Light","Microsoft YaHei";
	border-top: 1px solid #cccccc;
}
#layer-close {
	position: absolute;
	right: -0.4rem;
	top: -0.4rem;
	width: 1.25rem;
	height: 1.25rem;
	text-align: center;
	background: url(../img/close.png) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#myform.disabled .apply-input {
	color: #ccc;
}
#myform.disabled #applyBtn {
	background-color: #ccc;
}
/*---------------------------------------------------------*/
#apply-banner{
	height: 8.75rem;
	overflow: hidden;
	margin-bottom: 1.25rem;
}
#apply-banner img{
	width: 100%;
	margin-top: -2.3rem;
}
